{
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier", "node"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": [0],
    "import/prefer-default-export": [0],
    "consistent-return": [0]
  }
}
